.burger {
  &::before,
  &::after {
    cursor: pointer;
    content: '';
    position: absolute;
    width: 0.28rem;
    height: 0.02rem;
    border-radius: 1px;
    background: var(--black);
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: opacity .3s linear;
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &.active {
    background: var(--white);

    svg {
      stroke-opacity: 0;
    }

    &::before,
    &::after {
      opacity: 1;
    }

    &:hover {
      background-color: var(--black);

      &::before,
      &::after {
        background: var(--white);
      }
    }

  }

}
